.grace-base-select-multiselect .select-content-item{
    display: inline-block;
    min-width: 80px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}
.grace-base-select-multiselect .select-content-item.select{
    padding: 5px 20px;
    color: #fff;
    background-color: #3caee8;
    border-radius: 30px;
}
.grace-base-select-radio .radio-title{
    float:left;
    font-size: 14px;
}
.grace-base-select-radio .radio-content-item{
    display: inline-block;
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
}
.grace-base-select-radio .radio-content .radio-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: sub;
    background: url('../../img/radio-checkbox.png') -55px -65px no-repeat;
}
.grace-base-select-radio .radio-content .radio-icon.select{
    background-position: -55px -105px;
}