
.grace-radio{
    .no-data-comtainer{
        //空数据提示
    }
    .radio-container{
        padding: 10px 30px;
        line-height: 30px;
        >span{
            display: inline-block;
            margin-right: 20px;
            input[type="radio"] {
                display:none;
            }
            input[type="radio"] + label {
                color:#333333;
                font-size: 12px;
                cursor:pointer;
            }
            input[type="radio"] + label span.radio-ion {
                display:inline-block;
                width:14px;
                height:14px;
                margin:-2px 5px 0 0;
                vertical-align:middle;
                background:url(../../img/widget/ion-radio.png) 0 -16px no-repeat;
                cursor:pointer;
            }
            input[type="radio"]:checked + label span.radio-ion {
                background:url(../../img/widget/ion-radio.png) 0 0 no-repeat;
            }
        }
    }
}

