@charset "UTF-8";
.msz-channel{
  background-color:#f4f4f4;
  padding:0.266667rem 0.4rem;
  span.channel-value{
    display:block;
    background-color:#dee3e7;
    line-height:0.8rem;
    text-align:center;
    border-radius:1.266667rem;
  }
}