@charset "UTF-8";
$axis-labels-fontSize: 12px;
$tooltip-fontSize: 12px;
$legend-fontSize: 14px;
.msz-pie{
  background-color: #ffffff;
}
.msz-pie .pie-container-style,
.msz-pie .legend-container{
  width: 96%;
  margin: 0 2%;
}
.msz-pie .pie-container-style .center-container{
  text-align: center;
  width: 5.2rem;
  margin: 0 auto;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.msz-pie .highcharts-container .highcharts-axis-labels.highcharts-xaxis-labels text{
  font-size: $axis-labels-fontSize!important;
}

[data-dpr="2"] .msz-pie .highcharts-container .highcharts-axis-labels.highcharts-xaxis-labels text{
  font-size: $axis-labels-fontSize*2!important;
}
[data-dpr="3"] .msz-pie .highcharts-container .highcharts-axis-labels.highcharts-xaxis-labels text{
  font-size: $axis-labels-fontSize*3!important;
}


.msz-pie .highcharts-container .highcharts-tooltip{
  border-radius: .066667rem;
}
.msz-pie .highcharts-container .highcharts-tooltip>span{
  font-size: $tooltip-fontSize!important;
}
[data-dpr="2"] .msz-pie .highcharts-container .highcharts-tooltip>span{
  font-size: $tooltip-fontSize*2!important;
}
[data-dpr="3"] .msz-pie .highcharts-container .highcharts-tooltip>span{
  font-size: $tooltip-fontSize*3!important;
}
.msz-pie .highcharts-container .highcharts-tooltip>span p{
  line-height: $tooltip-fontSize!important;
  margin: .133333rem;
}
[data-dpr="2"] .msz-pie .highcharts-container .highcharts-tooltip>span p{
  line-height: $tooltip-fontSize*2!important;
}
[data-dpr="3"] .msz-pie .highcharts-container .highcharts-tooltip>span p{
  line-height: $tooltip-fontSize*3!important;
}
.msz-pie .legend-container,
.msz-pie #point-info-container{
  padding-top: .133333rem;
  padding-bottom: .133333rem;
  text-align: center;
  height: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
.msz-pie .legend-container .custom-legend{
  margin: .133333rem 0 .133333rem .4rem;
  text-align: left;
  display: inline-block;
  flex: 0 0 29%;
}
.msz-pie .legend-container .custom-legend .legend-info{
  font-size: $legend-fontSize;
}
[data-dpr="2"] .msz-pie .legend-container .custom-legend .legend-info{
  font-size: $legend-fontSize*2;
}
[data-dpr="3"] .msz-pie .legend-container .custom-legend .legend-info{
  font-size: $legend-fontSize*3;
}

.msz-pie .legend-container .custom-legend span.point-span{
  display: inline-block;
  margin-right: .233333rem;
  margin-bottom: .066667rem;
  width: .133333rem;
  height: .133333rem;
  border-radius: .066667rem;
}
.msz-pie .legend-container .custom-legend span.name-span{
  display: inline-block;
}
.msz-pie .highcharts-tooltip .point-info{
  margin: .133333rem auto;
  color: #999999;
  padding: .133333rem .266667rem;
}
.msz-pie .highcharts-tooltip .point-info .index-name{

}
//.msz-pie .highcharts-tooltip .point-info .index-value{
//  color: red;
//}